body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #5004b5, #2f00ff, #ff00ff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}
body.fade-in {
  opacity: 0; /* Começa invisível */
  animation: fadeIn 1s ease-in-out forwards; /* Animação de entrada */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Fica visível */
  }
}

.comeco {
  width: 400px;
  height: 150px;
  padding: 20xp;
  background: linear-gradient(135deg, #2f00ff, #fd7ed779);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}
.comeco h2 {
  margin: 0;
  font-size: 24px;
}
.comeco h4 {
  font-size: 15px;
  opacity: 0.9;
}
.comeco p {
  font-size: 9px;
  margin: 70px 0;
}
.comeco button {
  margin-top: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(45deg, #5004b5, #2f00ff, #ff00ff);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
body.transition {
  transform: scale(1.2); /* Aumenta o zoom */
  opacity: 0; /* Desaparece gradualmente */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.comeco button:hover {
  opacity: 0.8;
}

@media (min-width: 600px) {
  .comeco {
    width: 600px;

    padding: 60px;
  }
  .comeco h2 {
    font-size: 25px;
  }
  .comeco p {
    font-size: 14px;
  }
  .comeco button {
    padding: 15px 30px;
    font-size: 18px;
  }
  body.transition {
    transform: scale(1.2); /* Aumenta o zoom */
    opacity: 0; /* Desaparece gradualmente */
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
}
@media (max-width: 600px) {
  .comeco {
    width: 370px;
    height: 160px;
    padding: 45px;
  }
  .comeco h2 {
    font-size: 20px;
  }
  .comeco h4 {
    font-size: 16px;
  }
  .comeco p {
    font-size: 16px;
  }
  .comeco button {
    padding: 12px 24px;
    font-size: 16px;
  }
}
