@keyframes backgroundChange {
    0% { background-color: #5004b5; } /* Sua cor favorita */
    25% { background-color: #1215f3; } /* Azul */
    50% { background-color: #5004b5; } /* Sua cor favorita */
    75% { background-color: #1215f3; } /* Azul */
    100% { background-color: #5004b5; } /* Sua cor favorita */
  }
  
  
  body {
    background-image: url('url-da-imagem.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px;
    animation: backgroundChange 15s infinite;
    margin: 0;
  }

  h3, .image, a {
    animation: fadeIn 2s ease-in-out;
  }
  h3{
    padding: 5px 50px; 
  }

  p{
    font-size: 50px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  .image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 225px;
    border: 4px solid #5004b5;
    border-radius: 20px;
  }
  
  button {
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: white;
    background-color: #100451;
    border-radius: 8px;
    border: solid;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #5004b5;
    transition: background-color 0.6s ease-in-out;
  }



  @media only screen and (min-width: 321px) {
    body {
      padding: 20px;
      align-items: center;
    }
  
    h3 {
      font-size: 18px;
    }
  
    button {
      align-items: center;
      font-size: 14px;
      padding: 10px;
    }
  
    .image img {
      align-items: center;
      width: 245px;
      height: 200px;
    }
  }


  @media only screen and (min-width: 376px) {
    body {
      padding: 20px;
      align-items: center;
    }

    h4{
      font-size: 22px;
    }

    h3 {
      font-size: 26px;
    }
  
    button {
      align-items: center;
      font-size: 22px;
    }
  
    .image img {
      align-items: center;
      width: 100%;
    }
  }

  
  @media only screen and (min-width: 426px) {
    body {
      padding: 20px;
      align-items: center;
    }

    h4{
      font-size: 22px;
    }

    h3 {
      font-size: 28px;
    }
  
    button {
      align-items: center;
      font-size: 22px;
    }
  
    .image img {
      align-items: center;
      width: 100%;
    }
  }
  

  @media only screen and (min-width: 769px) {
    body {
      padding: 20px;
      align-items: center;
    }

    h4{
      font-size: 28px;
    }

    h3 {
      font-size: 30px;
    }
  
    button {
      align-items: center;
      font-size: 28px;
    }
  
    .image img {
      align-items: center;
      width: 400px;
      height: 240px;
    }
  }
  
  @media only screen and (min-width: 1366px) {
    body {
      padding: 20px;
      align-items: center;
    }

    h4{
      font-size: 28px;
    }

    h3 {
      font-size: 34px;
    }
  
    button {
      align-items: center;
      font-size: 30px;
    }
  
    .image img {
      align-items: center;
      width: 500px;
      height: 345px;
    }
  }
  